/*my css will be in here */
body {
  width: 60em;
  margin: auto;
  text-align: center;
}
header {
  font-family: Georgia, serif;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.headertitle {
  font-weight: bold;
}
.headerslogan {
  font-style: italic;
}
.headerimgleft {
  width: 22%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.headerimgright {
  width: 22%;
  position: absolute;
  top: 0px;
  right: 0px;
}
.mainnav {
  width: 100%;
}
.mainnav li {
  display: inline;
  width: 20%;
  margin: 3em 5em;
}

/*
.merchandisepics a {
  height: 400px;
  width: 455px;
  position: relative;
  margin: 10px;
  padding: 10px;
}
.merchandisepics a img {
  height: 400px;
  width: 455px;
}
.merchandisepics p {
  position: absolute;
  bottom: 0px;
  margin-bottom: 5px;
  left: 120px;
  z-index: 2;
  color: white;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 200%;
}
.mainbody {
  display: inline-block;
  width: 960px;
}
.locationsdisplay {
  display: inline;
  width: 200px;
  float: left;
  background-color: green;
}
.location li {
  width: 300px;
}
.mainarticle {
  display: inline;
  background-color: yellow;
  width: 400px;
}
.campinginfo {
  display: inline;
  width: 200px;
  float: right;
  background-color: red;
}*/
